<footer>
  <div class="footer-item">
    <ul class="nav-footer">
      <li class="nav-item">
        <%= link_to "Top", root_path ,class:"link-menu" %>
      </li>
      <li class="nav-item">
        <%= link_to "おすすめ映画一覧",index_all_path(content: "footer"), class: "link-menu"  %>
      </li>
    </ul>

  </div>
</footer>
